/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

header {
    text-align: center;
}

img {
    border-radius: 25%;
    max-width: 550px;
    margin-top: 10px;
}

section {
    margin-bottom: 20px;
}


=======
/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

header {
    text-align: center;
}

img {
    border-radius: 20%;
    max-width: 550px;
    margin-top: 10px;
}

section {
    margin-bottom: 20px;
}


